.content {
    position: relative;
  }
  
  .profile-container:hover .change-pic-option {
    display: block;
  }
  
  .change-pic-option {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    color: #fff;
    font-size: 14px;
  }